.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
x64/
x86/
Debug/
Release/
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.iobj
*.ipdb
